[Unit]
Description=Camera server instance to serve frames via ZMQ
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/babyphone/camera
Environment="PATH=/home/pi/babyphone/venv/bin"
ExecStart=/home/pi/babyphone/venv/bin/python camera/server.py
Restart=always

[Install]
WantedBy=multi-user.target
